<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2> Here is the information your have submitted</h2>
      <h2>  Age is {{ session['age'] }} </h2><br>
        <h2>Gender is {{ session['gender'] }}</h2><br>
        <h2> Weight is {{ session['weight'] }}</h2><br>
        <h2>Steps are {{ session['distance'] }}</h2><br>
        <h2>Total Children are {{ session['children'] }}</h2><br>
        <h2> Smoke Status is {{ session['smoke'] }}</h2><br>
        <h2>Height in meters is {{ session['height_meters'] }}</h2><br>
        <h2>Health risk {{ session['risk'] }}</h2><br>
  </body>
</html>
