<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Physical Condition Feedback</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <!-- <link href="{{ url_for('static', filename='css/rocket.css') }}" rel="stylesheet"> -->
  <link href="{{ url_for('static', filename='css/owl.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/text_glow.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/tickbox.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/table_curved.css') }}" rel="stylesheet">

  <!-- [if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif] -->
  <link rel="shortcut icon" href="static/images/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
    href="static/images/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
    href="static/images/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57-precomposed.png">
  <script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('change', function (e) {
      if (e.target.name === 'checkItems') {
        if (e.target.checked) {
          e.target.parentNode.className = 'selected';
        } else {
          e.target.parentNode.className = '';
        }
      }

    });
  });
  </script>
</head>
<!--/head-->

<body>
  <header id="header">
    <div class="navbar navbar-inverse" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('index') }}">
            <h1><img src="static/images/logo-care360.png" alt="logo" class="img-fluid" height="75px" width="75px"> Care
              360</h1>
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li class="active"><a href="{{ url_for('healthrisk')}}">Risk Assessment</a></li>
            <!-- <li><a href="{{ url_for('generalsafety')}}">General Safety Guidelines</a></li> -->
            <li><a href="{{ url_for('safetybycouncil')}}"> Natural Disaster Assist</a></li>
            <!-- <li><a href="#"> COVID-19 Injuries Assist</a></li> -->
            <!-- <li><a href="{{ url_for('login') }}">Admin Login</a></li> -->
            <!-- <li><a href="#">Credits</a></li> -->
          </ul>
        </div>

      </div>
    </div>
  </header>
  <!--/#header-->

  <section id="home-slider">
    <div class="container">
      <div class="row">
        <div class="main-slider">
          <div class="slide-text">
            <h1>Put on Your Capes, Time to change the world</h1>
            <p>
              “Physical fitness is the first requisite of happiness.” – Joseph Pilates. Make your grandparents happy.
            </p>

          </div>
          <img src="static/images/Photos/kids/Artboard 8.png" class="slider-hill" alt="slider image" height="350px"
            width="350px">
          <img src="static/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
          <img src="static/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">

        </div>
      </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
  </section>
  <!--/#home-slider-->
  <br>
  <section id="clients">
    <div class="container" style="margin-bottom:150px;">
      <div class="row">
        <div class="col-sm-12">
          <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
            <h1 class="title" style="font-weight:bold">Here are some recommendations for physical fitness and condition to help your {{ session['grandparent_gender'] }}.</h1>
            <div class='owl'>
              <div class='body'>
                <div class='wing'></div>
                <div class='wing'></div>
                <div class='feet'></div>
                <div class='feet right'></div>
                <div class='feather'></div>
              </div>
              <div class='head'>
                <div class='eyes'>
                  <div class='beak'></div>
                  <div class='eye'>
                    <div class='pupil'></div>
                  </div>
                  <div class='eye'>
                    <div class='pupil'></div>
                  </div>
                </div>
              </div>
            </div>

            {% if session['physicalcondition_risk'] == "No" %}
            <section id="clients">
              <div class="container">
                <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                  <h1 class="text-red blink-soft" style="color:green;font-weight:bold">Congratulations!! your
                    {{ session['grandparent_gender'] }} doesn't have any risk related to
                    {% if session['grandparent_gender'] == 'grandfather' %}his {% else %} her {% endif %} current
                    physical
                    condition.</h1>

                </div>

              </div>
            </section>
            {% else %}
            <!--- -->
            <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
              <table class="table table-bordered table-curved table-responsive">
                <thead class="thead-dark">
                  <tr style="background-color:#5dbcd2">
                    <th scope="col" class="text-center">
                      <h2 style="font-weight:bold;color:black"><strong>Risk</strong></h2>
                    </th>
                    <th scope="col" class="text-center">
                      <h2 style="font-weight:bold;color:black"><strong>Recommendations</strong></h2>
                    </th>
                    <th scope="col" class="text-center">
                      <h3 style="font-weight:bold;color:black"><strong>Did you recommend this to your {{ session['grandparent_gender'] }}?</strong></h2>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% if session['unsteady_standing'] == 'Yes' %}
                  <tr>
                    <td>
                      <h3 style="font-weight:bold">Falling</h3>
                    </td>
                    <td>
                      <div class="text">
                        <h3 style="font-weight:bold">
                          Recommend your {{ session['grandparent_gender'] }} to reduce the consumption of coffee and alcohol.
                          Ask {% if session['grandparent_gender'] == 'grandfather' %}him {% else %} her {% endif %} to perform relaxation techniques like breathing exercises. Also, recommend {% if session['grandparent_gender'] == 'grandfather' %}him {% else %} her {% endif %} to meet an occupational therapist as well.
                        </h3>
                      </div>
                    </td>
                    <td style="width:12%">


    <label>

      <input name="checkItems" type="checkbox" />
      <span class="checkbox-ghost-2"></span>

      <svg width="100" height="100">
        <g>
          <circle cx="8" cy="8" r="6"></circle>
          <circle cx="30" cy="23" r="2"></circle>
          <circle cx="5" cy="40" r="2"></circle>
          <circle cx="20" cy="80" r="3"></circle>
          <circle cx="70" cy="90" r="2"></circle>
          <circle cx="90" cy="15" r="2"></circle>
          <circle cx="60" cy="20" r="4"></circle>
          <circle cx="80" cy="45" r="2"></circle>
          <circle cx="85" cy="62" r="3"></circle>
        </g>
      </svg>
      Yes!
    </label>

                    </td>
                  </tr>
                  {% endif %}

                  {% if session['kitchen_reach'] == 'No' %}
                  <tr>
                    <td>
                      <h3 style="font-weight:bold">Getting hurt while picking things in kitchen.</h3>
                    </td>
                    <td>
                      <div class="text">
                        <h3 style="font-weight:bold">
                          With the help of your {{ session['grandparent_gender'] }} arrange frequently used dishes and vessels in the lower cabinets of kitchen.
                          Also, ask your {{ session['grandparent_gender'] }} to remove any large sharp knives if there are any from her kitchen.
                        </h3>
                      </div>
                    </td>
                    <td style="width:12%">


    <label>

      <input name="checkItems" type="checkbox" />
      <span class="checkbox-ghost-2"></span>

      <svg width="100" height="100">
        <g>
          <circle cx="8" cy="8" r="6"></circle>
          <circle cx="30" cy="23" r="2"></circle>
          <circle cx="5" cy="40" r="2"></circle>
          <circle cx="20" cy="80" r="3"></circle>
          <circle cx="70" cy="90" r="2"></circle>
          <circle cx="90" cy="15" r="2"></circle>
          <circle cx="60" cy="20" r="4"></circle>
          <circle cx="80" cy="45" r="2"></circle>
          <circle cx="85" cy="62" r="3"></circle>
        </g>
      </svg>
      Yes!
    </label>

                    </td>
                  </tr>
                  {% endif %}

                  {% if session['walk_difficulty'] == 'Yes' %}
                  <tr>
                    <td>
                      <h3 style="font-weight:bold">Unsteadiness while waling may cause falls.</h3>
                    </td>
                    <td>
                      <div class="text">
                        <h3 style="font-weight:bold">
                          Recommend your {{ session['grandparent_gender'] }} to use the walking stick or walker if necessary.
                          Also, ask {% if session['grandparent_gender'] == 'grandfather' %}him {% else %} her {% endif %} to join a walking program and buy orthopedic shoes that can help {% if session['grandparent_gender'] == 'grandfather' %}him {% else %} her {% endif %} maintain body postures.

                          </h3>
                      </div>
                    </td>
                    <td style="width:12%">


    <label>

      <input name="checkItems" type="checkbox" />
      <span class="checkbox-ghost-2"></span>

      <svg width="100" height="100">
        <g>
          <circle cx="8" cy="8" r="6"></circle>
          <circle cx="30" cy="23" r="2"></circle>
          <circle cx="5" cy="40" r="2"></circle>
          <circle cx="20" cy="80" r="3"></circle>
          <circle cx="70" cy="90" r="2"></circle>
          <circle cx="90" cy="15" r="2"></circle>
          <circle cx="60" cy="20" r="4"></circle>
          <circle cx="80" cy="45" r="2"></circle>
          <circle cx="85" cy="62" r="3"></circle>
        </g>
      </svg>
      Yes!
    </label>

                    </td>
                  </tr>
                  {% endif %}


                  {% if session['difficulty_chair'] == 'No' %}
                  <tr>
                    <td>
                      <h3 style="font-weight:bold"> Muscle Weakness</h3>
                    </td>
                    <td>
                      <div class="text">
                        <h3 style="font-weight:bold">
                          The ability to stand up from a chair makes a huge difference in the life of the elderly.  It helps with essential activities like getting up from the toilet and bed.
                          Recommend your {{ session['grandparent_gender'] }} to do sit to stand exercise if possible. Show this <a href= "https://www.youtube.com/watch?v=chZryRzvJnY">video</a> to your {{ session['grandparent_gender'] }} for more help.

                        </h3>
                      </div>
                    </td>
                    <td style="width:12%">


    <label>

      <input name="checkItems" type="checkbox" />
      <span class="checkbox-ghost-2"></span>

      <svg width="100" height="100">
        <g>
          <circle cx="8" cy="8" r="6"></circle>
          <circle cx="30" cy="23" r="2"></circle>
          <circle cx="5" cy="40" r="2"></circle>
          <circle cx="20" cy="80" r="3"></circle>
          <circle cx="70" cy="90" r="2"></circle>
          <circle cx="90" cy="15" r="2"></circle>
          <circle cx="60" cy="20" r="4"></circle>
          <circle cx="80" cy="45" r="2"></circle>
          <circle cx="85" cy="62" r="3"></circle>
        </g>
      </svg>
      Yes!
    </label>

                    </td>
                  </tr>
                  {% endif %}





                  {% if session['stairs_present'] == 'Yes' %}
                  {% if session['stairs_handrails'] == 'No' %}

                  <tr>
                    <td>
                      <h3 style="font-weight:bold">Stair without handrails</h2>
                    </td>
                    <td>
                      <div class="text">
                        <h3 style="font-weight:bold">Hurry, ask your parents to contact someone to install the stair handrails in your
                          {{ session['grandparent_gender'] }}'s house. Also recommend your elderly that handrails might help them to hold onto them in case they experience slip or fall on the stairs. </h2>
                      </div>
                    </td>
                    <td style="width:12%">


    <label>

      <input name="checkItems" type="checkbox" />
      <span class="checkbox-ghost-2"></span>

      <svg width="100" height="100">
        <g>
          <circle cx="8" cy="8" r="6"></circle>
          <circle cx="30" cy="23" r="2"></circle>
          <circle cx="5" cy="40" r="2"></circle>
          <circle cx="20" cy="80" r="3"></circle>
          <circle cx="70" cy="90" r="2"></circle>
          <circle cx="90" cy="15" r="2"></circle>
          <circle cx="60" cy="20" r="4"></circle>
          <circle cx="80" cy="45" r="2"></circle>
          <circle cx="85" cy="62" r="3"></circle>
        </g>
      </svg>
      Yes!
    </label>

                    </td>
                  </tr>
                  {% endif %}
                  {% endif %}


                  {% if session['emergency_contact'] == 'No' %}
                  <tr>
                    <td>
                      <h3 style="font-weight:bold">Emergency Contact</h3>
                    </td>
                    <td>
                      <div class="text">
                        <h3 style="font-weight:bold">
                          In case of an emergency, your {{ session['grandparent_gender'] }} should have emergency contact details within   {% if session['grandparent_gender'] == 'grandfather' %}him {% else %} her {% endif %} phone or in   {% if session['grandparent_gender'] == 'grandfather' %}him {% else %} her {% endif %} address book.
                          Better post a magnetic note with emergency phone number of your parent on your {{ session['grandparent_gender'] }}'s refrigerator or beside her bed.
                        </h3>
                      </div>
                    </td>
                    <td style="width:12%">


    <label>

      <input name="checkItems" type="checkbox" />
      <span class="checkbox-ghost-2"></span>

      <svg width="100" height="100">
        <g>
          <circle cx="8" cy="8" r="6"></circle>
          <circle cx="30" cy="23" r="2"></circle>
          <circle cx="5" cy="40" r="2"></circle>
          <circle cx="20" cy="80" r="3"></circle>
          <circle cx="70" cy="90" r="2"></circle>
          <circle cx="90" cy="15" r="2"></circle>
          <circle cx="60" cy="20" r="4"></circle>
          <circle cx="80" cy="45" r="2"></circle>
          <circle cx="85" cy="62" r="3"></circle>
        </g>
      </svg>
      Yes!
    </label>

                    </td>
                  </tr>
                  {% endif %}

                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="clients">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    {% if session['health_risk'] != "No" %}
  <button name="submit" class="btn btn-success" type="button" value="Save" onclick="window.location.href='{{ url_for( 'healthriskfeedback') }}';">Go to health risk feedback</button>
  {% endif %}
  <br><br>
  {% if session['house_risk'] != "No" %}
  <button name="submit" class="btn btn-success" type="button" value="Save" onclick="window.location.href='{{ url_for( 'housesafetyfeedback') }}';">Go to house safety feedback</button>
  {% endif %}

                  </div>
              </div>
          </div>
      </div>
  </section>


  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center bottom-separator">
          <img src="static/images/home/under.png" class="img-responsive inline" alt="">
        </div>

        <div class="col-sm-12">
          <div class="copyright-text text-center">
            <p style="color:red">Care360</p>
            <p style="color:red">
              Disclaimer: We provide recommendations on the basis of Australian Government Home Safety Guidelines for
              Older people.
            </p>
            <p style="color:red"> Credits : WebUi Theme by Themeum</p>
            <p style="color:red"> Credit Images: Freepik.com</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/lightbox.min.js"></script>
  <script type="text/javascript" src="static/js/wow.min.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
  <!-- <a href="javascript:void(0);" id="rocketmeluncur" class="showrocket"><i></i></a>
  <script type='text/javascript' src="static/js/rocket.js"></script> -->
  <script type='text/javascript' src="static/js/text_animation.js"></script>
</body>

</html>
