<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Natural Disaster Assist</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- <link href="{{ url_for('static', filename='css/rocket.css') }}" rel="stylesheet"> -->

    <!-- [if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif] -->
    <link rel="shortcut icon" href="static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<!--/head-->

<body>
    <header id="header">
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index') }}">
                        <h1><img src="static/images/logo-care360.png" alt="logo" class="img-fluid"height="75px"
                            width="75px"> Care 360</h1>
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('index') }}"><strong>Home</strong></a></li>
                        <li><a href="{{ url_for('healthrisk')}}"><strong>Risk Assessment</strong></a></li>
                        <li class="active"><a href="{{ url_for('safetybycouncil')}}"><strong>Natural Disaster Assist</strong></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </header>
    <!--/#header-->

    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1><strong>With great power comes great responsibility.</strong></h1>
                        <h4><strong>
                            "You don't need to be strong like a superhero, you just need to be better than you were yesterday". Let's show your superpowers to your grandparents.
                        </strong></h4>

                    </div>
                    <img src="static/images/Photos/kids/girlwithcape.png" class="slider-hill" alt="slider image" height="350px" width="350px">
                    <img src="static/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <!-- <img src="static/images/home/slider/birds2.png" class="slider-birds2" alt="slider image"> -->

                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <!--/#home-slider-->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="static/images/disaster/floodhouse.png" alt="">
                        </div>
                        <h2><strong>Flood</strong></h2>
                        <p><strong>Flooding may occur as an excess of water from water sources, such as a river, lake, or ocean, in which the water overflows or splits, allowing some of the water to breach its normal boundaries, or it may occur as a result of an accumulation of rainwater.</strong></p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="static/images/disaster/housefire.png" alt="">
                        </div>
                        <h2><strong>Bush Fire</strong></h2>
                        <p><strong>Did you know that bush fire can cause a lot of destruction to your house? Prepare your grandparent's house for this disaster well before in advance.</strong></p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="static/images/disaster/storm.png" alt="">
                        </div>
                        <h2><strong>Storm</strong></h2>
                        <p><strong>A storm is a violent disturbance of the atmosphere with strong winds and usually rain, thunder, lightning, or snow. Gear up and prepare your grandparent's house for these events.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <section id="action" class="responsive">
        <div class="vertical-center">
            <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms" align="center">
                            <h1 class="title"><strong>Prepare your grandparent's house for natural disasters.</strong></h1>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#action-->


    <br>
    <br>
    <br>
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <!-- <h2 class="title">Be your own captain and help your grandparents</h2> -->
                        <p><img src="static/images/disaster/captain.png" class="img-responsive" alt="detective image" width="20%"></p>
                    </div>
                    <h2 class="title" align="center"><strong>Please select the postcode where your grandparents live. If you do not find your grandparent's postcode then they live in a risk-free zone.</strong></h2>
                    <br>
                    <br>
                    <br>
                    <form method="post">
                        <div class="clients text-center wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                            {{ form.hidden_tag() }} {{ form.postcode.label}}
                            <br>{{form.postcode}}
                            <br>
                            <br> {{ form.submit(class= "btn btn-success")}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="static/images/home/under.png" class="img-responsive inline" alt="">
                </div>

                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p style="color:black">Care360</p>
                        <p style="color:black">
                            Disclaimer: We provide recommendations on the basis of Australian Government Home Safety
                            Guidelines for Older people.
                        </p>
                        <p style="color:black"> Credits : WebUi Theme by Themeum</p>
                        <p style="color:black"> Credit Images: Freepik.com</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->

    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/lightbox.min.js"></script>
    <script type="text/javascript" src="static/js/wow.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
    <!-- <a href="javascript:void(0);" id="rocketmeluncur" class="showrocket" ><i></i></a>
    <script type='text/javascript' src="static/js/rocket.js"></script> -->
</body>

</html>
